
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --min-width: 280px;
    --max-width: 50rem;

    --back-color: #EEEEEEDD;

    --back-img: url('../images/tents.jpg');
    --hiking-img: url('../images/hiking.jpg');
    --canoeing-img: url('../images/canoeing.jpg');
    --fishing-img: url('../images/fishing.jpg');
    --crafts-img: url('../images/crafts.jpg');
    --archery-img: url('../images/archery.jpg');
}

html,body {
    min-height: 100dvh;
    min-width: var(--min-width);
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--back-img) no-repeat center/cover;
    transition: background-image 2s;
}

#camp-activities-inquiry {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    background: var(--back-color);
    padding: 1rem;
}

#camp-activities-inquiry > h1 {
    text-align: center;
    padding-bottom: 0.25rem;
}

#camp-activities-inquiry > form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    /* gap: 1rem; */
    width: 100%;
    border-top: 1px solid black;
}

#camp-activities-inquiry > form > :is(textarea, select) {
    width: 100%;
    resize: none;
    padding: 0.1rem;
}

#camp-activities-inquiry > form > button {
    align-self: flex-end;
    width: 100%;
    padding: 0.5rem 1rem;
}

#camp-activities-inquiry > form > label {
    padding: 0.5rem 0 0.25rem;
}

/*
 * Activity Selection
 */
#activity-select > option[value=""] {
    display:none;
}

body:has(#camp-activities-inquiry option[value="hiking"]:checked) {
    background: var(--hiking-img) no-repeat center/cover;
}
body:has(#camp-activities-inquiry option[value="canoeing"]:checked) {
    background: var(--canoeing-img) no-repeat center/cover;
}
body:has(#camp-activities-inquiry option[value="fishing"]:checked) {
    background: var(--fishing-img) no-repeat center/cover;
}
body:has(#camp-activities-inquiry option[value="crafts"]:checked) {
    background: var(--crafts-img) no-repeat center/cover;
}
body:has(#camp-activities-inquiry option[value="archery"]:checked) {
    background: var(--archery-img) no-repeat center/cover;
}
