
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --min-width: 280px;
    --max-width: 650px;

    --back-color: #EEEEEEAA;

    --back-img: url('../images/tents.jpg');
    --hiking-img: url('../images/hiking.jpg');
    --canoeing-img: url('../images/canoeing.jpg');
    --fishing-img: url('../images/fishing.jpg');
    --crafts-img: url('../images/crafts.jpg');
    --archery-img: url('../images/archery.jpg');
}

html,body {
    min-height: 100dvh;
    min-width: var(--min-width);
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--back-img) no-repeat center/cover;
    transition: background-image 2s;
    will-change: background-image;
}
/* 'Preloads' background images, seems more reliable than link */
body::before {
    content: var(--hiking-img) var(--canoeing-img) var(--fishing-img) var(--crafts-img) var(--archery-img);
    position: absolute; width: 0; height: 0; overflow: hidden; z-index: -1;
}

/*
 * Form styling
 */
#camp-activities-inquiry {
    width: 100%;
    min-width: var(--min-width);
    max-width: var(--max-width);
    background: var(--back-color);
    backdrop-filter: blur(10px);
    padding: 1rem;
}

@media screen and (min-width: 650px) {
    #camp-activities-inquiry {
        border-radius: 1rem;
    }
}

#camp-activities-inquiry > h1 {
    text-align: center;
    padding-bottom: 0.25rem;
}

#camp-activities-inquiry > form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 100%;
    border-top: 1px solid black;
}

#camp-activities-inquiry > form > :is(textarea, select) {
    width: 100%;
    resize: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border-radius: 0.5rem;
}

#camp-activities-inquiry > form > button {
    align-self: flex-end;
    width: 100%;
    padding: 0.5rem 1rem;
    color: white;
    background-color: green;
    border: none;
    border-bottom: 5px solid darkgreen;
    border-radius: 0.5rem;
}

#camp-activities-inquiry > form > button:active {
    filter: brightness(125%);
    border-bottom: none;
    margin-top: 5px;
}

#camp-activities-inquiry > form > label {
    font-weight: bold;
    padding: 0.15rem 0.25rem 0.15rem;
    transition: translate 0.5s;
}
/* Animates label position */
#camp-activities-inquiry > form > label:has(+ textarea:not(.filled)) {
    translate: 0 100%;
}
#camp-activities-inquiry > form > label:has(+ textarea:focus) {
    translate: 0 0;
}

.invalid {
    border: 2px solid red;
}
label:has(+ .invalid) {
    color: red;
}
label:has(+ .invalid)::after {
    content: " (Please fill out this field)";
}

/*
 * Activity Selection
 */
#activity-select > option[value=""] {
    display:none;
}

body:has(#camp-activities-inquiry option[value="hiking"]:checked) {
    background: var(--hiking-img) no-repeat center/cover;
}
body:has(#camp-activities-inquiry option[value="canoeing"]:checked) {
    background: var(--canoeing-img) no-repeat center/cover;
}
body:has(#camp-activities-inquiry option[value="fishing"]:checked) {
    background: var(--fishing-img) no-repeat center/cover;
}
body:has(#camp-activities-inquiry option[value="crafts"]:checked) {
    background: var(--crafts-img) no-repeat center/cover;
}
body:has(#camp-activities-inquiry option[value="archery"]:checked) {
    background: var(--archery-img) no-repeat center/cover;
}

/*
 * Submission animation
 */
#camp-activities-inquiry.submitting {
    animation: submit-anim 1s both;
}
 
@keyframes submit-anim {
    0% {
        translate: 0;
    }
    10% {
        translate: -10%;
    }
    100% {
        translate: calc(100vw + 100%);
    }
}